<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel public_people search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label public_people id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label public_people name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN last_name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_last_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="last_name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="last_name" data-fieldname="last_name" >


	<label class="r-search-label control-label" for="{$labelfor_last_name}">
		{$label public_people last_name }	</label>
	<div class="r-search-option">
		{$searchtype_last_name}
	</div>
	<div class="r-search-field">
		{$last_name_editcontrol}	</div>
	<div class="r-search-field">
		{$last_name_editcontrol1}
	</div>
	
</div>

{END last_name_fieldblock}
											
{BEGIN birth_date_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_birth_date}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="birth_date{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="birth_date" data-fieldname="birth_date" >


	<label class="r-search-label control-label" for="{$labelfor_birth_date}">
		{$label public_people birth_date }	</label>
	<div class="r-search-option">
		{$searchtype_birth_date}
	</div>
	<div class="r-search-field">
		{$birth_date_editcontrol}	</div>
	<div class="r-search-field">
		{$birth_date_editcontrol1}
	</div>
	
</div>

{END birth_date_fieldblock}
											
{BEGIN created_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="created_by" data-fieldname="created_by" >


	<label class="r-search-label control-label" for="{$labelfor_created_by}">
		{$label public_people created_by }	</label>
	<div class="r-search-option">
		{$searchtype_created_by}
	</div>
	<div class="r-search-field">
		{$created_by_editcontrol}	</div>
	<div class="r-search-field">
		{$created_by_editcontrol1}
	</div>
	
</div>

{END created_by_fieldblock}
											
{BEGIN created_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="created_at" data-fieldname="created_at" >


	<label class="r-search-label control-label" for="{$labelfor_created_at}">
		{$label public_people created_at }	</label>
	<div class="r-search-option">
		{$searchtype_created_at}
	</div>
	<div class="r-search-field">
		{$created_at_editcontrol}	</div>
	<div class="r-search-field">
		{$created_at_editcontrol1}
	</div>
	
</div>

{END created_at_fieldblock}
											
{BEGIN updated_by_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_by}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_by{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="updated_by" data-fieldname="updated_by" >


	<label class="r-search-label control-label" for="{$labelfor_updated_by}">
		{$label public_people updated_by }	</label>
	<div class="r-search-option">
		{$searchtype_updated_by}
	</div>
	<div class="r-search-field">
		{$updated_by_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_by_editcontrol1}
	</div>
	
</div>

{END updated_by_fieldblock}
											
{BEGIN updated_at_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_updated_at}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="updated_at{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="updated_at" data-fieldname="updated_at" >


	<label class="r-search-label control-label" for="{$labelfor_updated_at}">
		{$label public_people updated_at }	</label>
	<div class="r-search-option">
		{$searchtype_updated_at}
	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol}	</div>
	<div class="r-search-field">
		{$updated_at_editcontrol1}
	</div>
	
</div>

{END updated_at_fieldblock}
											
{BEGIN fk_type_doc_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fk_type_doc}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="fk_type_doc{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="fk_type_doc" data-fieldname="fk_type_doc" >


	<label class="r-search-label control-label" for="{$labelfor_fk_type_doc}">
		{$label public_people fk_type_doc }	</label>
	<div class="r-search-option">
		{$searchtype_fk_type_doc}
	</div>
	<div class="r-search-field">
		{$fk_type_doc_editcontrol}	</div>
	<div class="r-search-field">
		{$fk_type_doc_editcontrol1}
	</div>
	
</div>

{END fk_type_doc_fieldblock}
											
{BEGIN document_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_document}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="document{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="document" data-fieldname="document" >


	<label class="r-search-label control-label" for="{$labelfor_document}">
		{$label public_people document }	</label>
	<div class="r-search-option">
		{$searchtype_document}
	</div>
	<div class="r-search-field">
		{$document_editcontrol}	</div>
	<div class="r-search-field">
		{$document_editcontrol1}
	</div>
	
</div>

{END document_fieldblock}
											
{BEGIN telf_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_telf}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="telf{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="telf" data-fieldname="telf" >


	<label class="r-search-label control-label" for="{$labelfor_telf}">
		{$label public_people telf }	</label>
	<div class="r-search-option">
		{$searchtype_telf}
	</div>
	<div class="r-search-field">
		{$telf_editcontrol}	</div>
	<div class="r-search-field">
		{$telf_editcontrol1}
	</div>
	
</div>

{END telf_fieldblock}
											
{BEGIN country_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_country}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="country{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="country" data-fieldname="country" >


	<label class="r-search-label control-label" for="{$labelfor_country}">
		{$label public_people country }	</label>
	<div class="r-search-option">
		{$searchtype_country}
	</div>
	<div class="r-search-field">
		{$country_editcontrol}	</div>
	<div class="r-search-field">
		{$country_editcontrol1}
	</div>
	
</div>

{END country_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
