[data-cellid="grid_footcell_field"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field3"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field3"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field4"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field4"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field5"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field5"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field6"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field6"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field7"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field7"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field8"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field8"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="consulting_my_advisor_list"][data-cellid="grid_headcell_icons"][data-page="consulting_my_advisor_list"][data-cellid="grid_headcell_icons"][data-page="consulting_my_advisor_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="consulting_my_advisor_list"][data-cellid="grid_cell_icons"][data-page="consulting_my_advisor_list"][data-cellid="grid_cell_icons"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="consulting_my_advisor_list"][data-cellid="grid_headcell_checkbox"][data-page="consulting_my_advisor_list"][data-cellid="grid_headcell_checkbox"][data-page="consulting_my_advisor_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="consulting_my_advisor_list"][data-cellid="grid_cell_details"][data-page="consulting_my_advisor_list"][data-cellid="grid_cell_details"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field9"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field9"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field10"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field10"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field11"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field11"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field1"][data-page="consulting_my_advisor_list"][data-cellid="grid_footcell_field1"][data-page="consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-page="consulting_my_advisor_list"][data-itemid="custom_button"] > .btn {
  background-color: #2d4282;
  background-image: none;
  text-shadow: none;
  color: #ffffff;
}
[data-page="consulting_my_advisor_list"][data-itemid="custom_button1"] > .btn {
  background-color: #c53c3c;
  background-image: none;
  text-shadow: none;
  color: #ffffff;
}
[data-page="consulting_my_advisor_list"][data-itemid="custom_button2"] > .btn {
  background-color: #10a27a;
  background-image: none;
  text-shadow: none;
  color: #ffffff;
}


