[data-cellid="grid_cell_label7"][data-page="pay_deta_list"][data-cellid="grid_cell_label7"][data-page="pay_deta_list"][data-cellid="grid_cell_label7"][data-page="pay_deta_list"] {
  padding: 0px;
}
[data-page="pay_deta_list"][data-itemid="image"] {
  width: 550px;
  height: 700px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c4"][data-page="pay_deta_list"][data-cellid="above-grid_c4"][data-page="pay_deta_list"][data-cellid="above-grid_c4"][data-page="pay_deta_list"] {
  color: red;
     align-items: center;
}

