[data-cellid="grid_footcell_field"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field1"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field1"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field2"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field2"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field3"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field3"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field4"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field4"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field5"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field5"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field6"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field6"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field7"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_footcell_field7"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_headcell_icons"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_headcell_icons"][data-page="public_consulting_my_advisor_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_cell_icons"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_cell_icons"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_headcell_checkbox"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_headcell_checkbox"][data-page="public_consulting_my_advisor_list"] {
  width: 30px;
}
[data-cellid="grid_cell_details"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_cell_details"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_cell_details"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field11"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_cell_field11"][data-page="public_consulting_my_advisor_list"][data-cellid="grid_cell_field11"][data-page="public_consulting_my_advisor_list"] {
  white-space: nowrap;
}
[data-page="public_consulting_my_advisor_list"][data-itemid="custom_button"] > .btn {
  background-color: #3d9970;
  background-image: none;
  text-shadow: none;
  color: #ffffff;
}
[data-page="public_consulting_my_advisor_list"][data-itemid="custom_button1"] > .btn {
  background-color: #363e80;
  background-image: none;
  text-shadow: none;
  color: #ffffff;
}
[data-page="public_consulting_my_advisor_list"][data-itemid="custom_button2"] > .btn {
  background-color: #1aa0a9;
  background-image: none;
  text-shadow: none;
}


